commit_message.txt
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/kant/config/applicationhost.config
.vs/kant/copilot-chat/87f3a3c7/sessions/bc180887-c467-40ed-91bd-48aecfe40f40
.vs/kant/CopilotIndices/17.14.734.62261/CodeChunks.db
.vs/kant/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/kant/FileContentIndex/d97127a9-c317-471c-8b40-19dfaed2340c.vsidx
.vs/kant/v17/.wsuo
.vs/kant/v17/DocumentLayout.json
